<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CKEditor 5 - Twig plugin</title>
</head>
<body>
<div class="column">
    <h2>Such a wonderful WYSIWYG <3</h2>
    <div id="editor">
        {# This is an example of twig parsing.
        See the page source code in order to display the original twig template #}

        {% macro sayHello(name) %}
            Hello {{name}}
        {% endmacro %}

        {% set username = 'John Doe' %}
        <h1>Welcome {{ username }} :-)</h1>

        <p>This is a CKEditor Twig template plugin demo.</p>

        {% block title "Template demo page" %}

        {% block welcome %}
            <p>There is a message for you:</p>
            {% if planet == 'hearth' -%}
                <p>{{ sayHello('world') }}</p>
            {%- else -%}
                <p>
                    {% if galaxy == 'orion' %}
                    {{ sayHello('Gentle Rosenburg') }}
                    {% else %}
                    {{ sayHello(planet) }}
                    {% endif %}
                    {% if isNotSoFar(galaxy) %} :-) {% else %} :-( {% endif %}
                </p>
            {%- endif %}
        {% endblock %}

        <div>
            {% for country in countries %}
                <p>Are you from {{ country.name }}?</p>
            {% endfor %}
        </div>

<div class="raw-html-embed">
<p>This is a "raw" embed html block, we can use it for all unsupported twig DOM construct</p>
<ul>
    {% for country in countries %}
    <li>Are you from {{ country.name }}?</li>
    {% endfor %}
</ul>
</div>

    </div>
</div>

<div class="column">
    <button onclick="window.displaySource()">Click here to refresh the output code :)</button>
    <pre id="output-container"><code id="output" class="twig"></code></pre>
</div>

<script>
    window.availableVariables = {
        // Object
        app: {
            type: 'object',
                label: 'The default symfony twig variables',
                properties: {
                // Child object
                user: {
                    type: 'object',
                        label: 'The current user',
                        properties: {
                        username: { type: 'string', label: 'The current user\'s username' },
                        favoriteColors: {
                            type: 'array',
                                children: {
                                type: 'string'
                            }
                        }
                    }
                },
                // Boolean
                debug: { type: 'boolean', label: 'Is the debug mode enabled?' }
            }
        },
        currentDate: { type: 'datetime' },
        planet: { type: 'string' },
        galaxy: { type: 'string' },
        // Array of objects
        countries: {
            type: 'array',
                children: {
                type: 'object',
				properties: {
                    name: { type: 'string' },
                    code: { type: 'string' }
                }
            }
        },
        // Array of arrays
        currentPositions: {
            type: 'array',
                children: {
                type: 'array',
                    children: { type: 'float' }
            }
        }
    };
</script>
<script src="bundle.js?t=1616070141"></script>
</body>
</html>
