<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CKEditor 5 - Twig plugin</title>
</head>
<body>
<div class="column">
    <h2>Such a wonderful WYSIWYG <3</h2>
    <div id="editor">
        {# This is an example of twig parsing.
        See the page source code in order to display the original twig template #}

        {% macro sayHello(name) %}
            Hello {{name}}
        {% endmacro %}

        {% set username = 'John Doe' %}
        <h1>Welcome {{ username }} :-)</h1>

        <p>This is a CKEditor Twig template plugin demo.</p>

        {% block title "Template demo page" %}

        {% block welcome %}
            <p>There is a message for you:</p>
            {% if planet == 'hearth' -%}
                <p>{{ sayHello('world') }}</p>
            {%- else -%}
                <p>
                    {% if galaxy == 'orion' %}
                    {{ sayHello('Gentle Rosenburg') }}
                    {% else %}
                    {{ sayHello(planet) }}
                    {% endif %}
                    {% if isNotSoFar(galaxy) %} :-) {% else %} :-( {% endif %}
                </p>
            {%- endif %}
        {% endblock %}

        <div>
            {% for country in countries %}
                <p>Are you from {{ country.name }}?</p>
            {% endfor %}
        </div>

        <h3>Known issues</h3>

        <ul>
            <li>
                As the twig tags are replaced by a div, they cannot be used into a "ul" list without breaking the html:
                <br>
                <ul>
                    {% for a in b %}
                        <li>{{ a }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    {# This comment should be replaced by a "li" tag, as it is located into an "ul" tag #}
                    <li>This is a list item</li>
                </ul>
            </li>
            <li>
                Inline blocks are not handled for now: <br>
                {% if a %}yes{% else %}no{% endif %}
            </li>
            <li>
                The block statement content part must have a parent Paragraph in order to be writable.
                A Paragraph is currently added into each block content
            </li>
            <li>
                "else" is not well supported for now
            </li>
        </ul>

        <h3>TODO</h3>
        <ul>
            <li>Deal with inline & li statements</li>
            <li>Allow to pass a list of typed variables</li>
            <li>Use <a href="https://github.com/twigjs/twig.js">twig.js</a> for html & vars parsing & rendering</li>
            <li>Add <a href="https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/saving-data.html">the
                auto reload plugin</a> to the demo
            </li>
            <li>
                Variables plugin:
                <ul>
                    <li>Add nullable types</li>
                    <li>Allow examples overrides</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="column">
    <button onclick="window.displaySource()">Click here to refresh the output code :)</button>
    <pre id="output-container"><code id="output" class="twig"></code></pre>
</div>

<script>
    window.availableVariables = {
        // Object
        app: {
            type: 'object',
                label: 'The default symfony twig variables',
                properties: {
                // Child object
                user: {
                    type: 'object',
                        label: 'The current user',
                        properties: {
                        username: { type: 'string', label: 'The current user\'s username' },
                        favoriteColors: {
                            type: 'array',
                                children: {
                                type: 'string'
                            }
                        }
                    }
                },
                // Boolean
                debug: { type: 'boolean', label: 'Is the debug mode enabled?' }
            }
        },
        currentDate: { type: 'datetime' },
        planet: { type: 'string' },
        galaxy: { type: 'string' },
        // Array of objects
        countries: {
            type: 'array',
                children: {
                type: 'object',
                    properties: {
                    name: { type: 'string' },
                    code: { type: 'string' }
                }
            }
        },
        // Array of arrays
        currentPositions: {
            type: 'array',
                children: {
                type: 'array',
                    children: { type: 'float' }
            }
        }
    };
</script>
<script src="bundle.js?t=1615328937"></script>
</body>
</html>
