/* CKeditor part */
.twig-statement-container {
    margin: 1em 0;

    border: 2px solid #3181ff59;
}

.twig-statement, .twig-comment {
    font-family: Consolas, 'DejaVu Sans Mono', Courier, monospace;
    color: #000;
    font-size: 80%;
}

.twig-statement {
    background: #3181ff59 !important;
}

.twig-statement, .twig-statement-content {
    padding: 6px;
    margin: 0;
}

.twig-comment {
    background: #ffff009c;
    padding: 5px;
}

.twig-comment::before {
    content: "# ";
    color: orange;
}

.twig-expression {
    background: #ffff009c;
    margin: 0 4px;
    cursor: pointer;
}

.twig-expression::before {
    content: "{";
    color: orange;
    padding-right: 2px;
}

.twig-expression::after {
    content: "}";
    color: orange;
    padding-left: 2px;
}

/* Modales common */

.twig-variables-example pre, .twig-statement-doc pre {
    font-family: Consolas, 'DejaVu Sans Mono', Courier, monospace;
    color: #000;
    background: #eee;
    font-size: 10px;
    margin: 0;
    padding: 6px !important;
}

.twig-variables-example a, .twig-statement-doc a {
    text-decoration: none;
    color: #4444e8;
    font-size: 10px;
}

/* ================ */
/* Variables modale */
table.twig-variables {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin:0;
    padding:0;
    width: 100%;
}
table.twig-variables tbody {
    border: 1px solid #ddd;
    padding: 3px;
}
table.twig-variables th, table.twig-variables td {
    padding: 4px 10px;
    text-align: left;
}
table.twig-variables th {
    font-weight: bold;
    letter-spacing: 1px;
}
table.twig-variables thead th {
    font-size: 1em;
    text-transform: uppercase
}

/* Child table td */
table.twig-variables tbody td[colspan] {
    padding-left: 50px;
    padding-right: 0;
    padding-bottom: 10px;
}

/* Type column */
table.twig-variables thead th:nth-child(2), table.twig-variables tbody td:nth-child(2) {
    width: 10rem;
}

/* Description column */
table.twig-variables thead th:nth-child(3), table.twig-variables tbody td:nth-child(3) {
    width: 50rem;
}

/* Button column */
table.twig-variables thead th:nth-child(4), table.twig-variables tbody td:nth-child(4) {
    width: 140px;
    text-align: center;
}

/* ================= */
/* Statements modale */
.twig-statement-doc {
    display: flex;
}
.twig-statement-doc > div {
    margin: auto;
    margin-top: 0;
}
.twig-statement-doc h3 {
    margin: 0;
    margin-bottom: 10px;
    border: none;
}
.twig-statement-doc a {
    font-size: 14px;
}
.twig-statement-doc pre {
    text-align: left;
    line-height: 14px;
    margin-top: 6px;
}
.twig-statement-doc pre code {
    padding: 0;
}

.twig-statement-doc button {
    border: 0;
    border-radius: .25em;
    background: #2778c4;
    color: #fff;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 14px;
    cursor: pointer;
}

.twig-statement-doc button:hover {
    background-color: #448acb;
}

/* ==================== */
/* Import export modale */
textarea.twig-import {
    font-size: 11px;
    min-height: 200px;
}
